
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-25V {
  overflow: hidden;
  background: linear-gradient(181.05deg, #480f80 70.38%, #8d36e3 99.1%);
  width: 100%;
  height: 1197rem;
  position: relative;

  .auto-group-3njx-UTH {
    left: 0;
    top: 0;
    width: 83.3rem;
    height: 26.2rem;
    position: absolute;

    .group-3-nMV {
      height: 4.5rem;
      position: absolute;
      left: 41.3rem;
      top: 3.5rem;
      display: flex;
      align-items: center;
      width: 39.1rem;

      .auto-group-lk45-78s {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.8rem 0.8rem 1.1rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;

        .about-us-dd1 {
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.1rem 0rem;
          font-size: 2rem;
        }
        .events-iuM {
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.5rem 0.1rem 0rem;
          font-size: 2rem;
        }
        .poets-qyy {
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.1rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .group-1-txF {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .item--3aF {
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.4rem;
          font-size: 3.7rem;
        }
        .more-yio {
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0rem;
          font-size: 2rem;
        }
      }
    }
    .screenshot-2024-03-01-030812-1-7KD {
      width: 48.7rem;
      height: 26.2rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .auto-group-d261-doM {
    left: 14.3rem;
    top: 1030.4rem;
    width: 47.6rem;
    height: 20.1rem;
    position: absolute;

    .rectangle-7-yMR {
      background-color: #d9d9d9;
      width: 17.8rem;
      height: 4.7rem;
      position: absolute;
      left: 1.6rem;
      top: 15.4rem;
      border: solid 0.3rem #000000;
      box-sizing: border-box;
    }
    .still-have-questions-contact-us-for-further-assistance-contact-us-tDV {
      line-height: 1.1975;
      font-family: Inria Serif, 'Source Sans Pro';
      width: 47.6rem;
      left: 0;
      font-weight: 400;
      font-size: 5rem;
      color: #ffffff;
      height: 19.8rem;
      position: absolute;
      top: 0;

      .still-have-questions-contact-us-for-further-assistance-contact-us-tDV-sub-0 {
      }
      .still-have-questions-contact-us-for-further-assistance-contact-us-tDV-sub-1 {
        line-height: 1.1975;
        color: #ffffff;
        font-family: Inria Serif, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
      }
      .still-have-questions-contact-us-for-further-assistance-contact-us-tDV-sub-2 {
      }
      .still-have-questions-contact-us-for-further-assistance-contact-us-tDV-sub-3 {
        font-family: Inria Serif, 'Source Sans Pro';
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.1975;
        color: #ffffff;
      }
    }
  }
  .auto-group-axir-Eq5 {
    height: 54.6rem;
    position: absolute;
    left: 18rem;
    top: 834.3rem;
    width: 66.8rem;

    .rectangle-5-NgP {
      top: 0;
      border: solid 0.3rem #000000;
      box-sizing: border-box;
      background-color: #d9d9d9;
      width: 66.8rem;
      height: 53rem;
      position: absolute;
      left: 0;
    }
    .basic-plan-for-casual-participants-and-beginners-includes-event-participation-community-access-limited-features-limited-storage-no-customization-ai-judging-basic-support-78B {
      width: 65.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      height: 53.4rem;
      position: absolute;
      left: 0.8rem;
      top: 1.2rem;
      font-size: 2rem;
    }
    .mo-iNs {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 5rem;
      font-weight: 400;
      line-height: 1.2125;
      width: 18.5rem;
      height: 6.1rem;
      position: absolute;
      left: 45.8rem;
      top: 0;
      color: #000000;
    }
  }
  .auto-group-pblq-3AF {
    position: absolute;
    left: 10rem;
    top: 355.9rem;
    display: flex;
    align-items: flex-start;
    width: 75rem;
    height: 23rem;

    .auto-group-zvgd-mrw {
      margin: 0.5rem 6.2rem 0rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .view-all-Jby {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 8.8rem;
      }
      .fri-09-march-2024-33m {
        line-height: 1.2102272034;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 12.6rem;
        font-size: 2rem;
        font-weight: 400;

        .fri-09-march-2024-33m-sub-0 {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .fri-09-march-2024-33m-sub-1 {
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 4.8rem;
        }
        .fri-09-march-2024-33m-sub-2 {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .auto-group-a3mf-jKu {
      flex-shrink: 0;
      width: 56.2rem;

      .auto-group-rxj7-HsD {
        margin-bottom: 1.1rem;
        width: 100%;
        height: 16.8rem;
        position: relative;

        .group-1-qdq {
          line-height: 1.2125;
          width: 34.5rem;
          left: 8rem;
          font-weight: 400;
          padding: 0rem 8.632rem 0rem 14.468rem;
          height: 12.8481rem;
          font-family: Inter, 'Source Sans Pro';
          border-radius: 0.2rem;
          box-sizing: border-box;
          position: absolute;
          top: 0.2rem;
          font-size: 2rem;
          color: #ffffff;
          white-space: nowrap;
        }
        .open-mic-uNo {
          position: absolute;
          left: 46.4rem;
          top: 0;
          font-size: 2rem;
          width: 9rem;
          height: 2.5rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .spoken-word-DeP {
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 0;
          top: 0.2rem;
          font-size: 2rem;
          width: 12.6rem;
          height: 2.5rem;
          line-height: 1.2125;
          color: #ffffff;
        }
        .captivating-poetry-night-jsd {
          left: 0;
          font-size: 5rem;
          line-height: 1.1975;
          color: #ffffff;
          height: 6rem;
          position: absolute;
          font-weight: 400;
          font-family: Inria Serif, 'Source Sans Pro';
          white-space: nowrap;
          width: 56.2rem;
          top: 10.8rem;
        }
      }
      .sold-out-rxF {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 0.7rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
      }
    }
  }
  .auto-group-euzo-QD5 {
    position: absolute;
    left: 10rem;
    top: 401.7rem;
    display: flex;
    align-items: center;
    width: 115.3rem;
    height: 11.4rem;

    .thrusday-15-march-2024-vx7 {
      flex-shrink: 0;
      margin: 0rem 6.9rem 0.2rem 0rem;
      max-width: 12.6rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2102272034;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';

      .thrusday-15-march-2024-vx7-sub-0 {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.2rem;
        font-weight: 400;
      }
      .thrusday-15-march-2024-vx7-sub-1 {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 400;
      }
      .thrusday-15-march-2024-vx7-sub-2 {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.2rem;
        font-weight: 400;
      }
    }
    .auto-group-4ncv-pw1 {
      flex-shrink: 0;
      margin: 1rem 18.9rem 0rem 0rem;
      display: flex;
      flex-direction: column;

      .poetry-showcase-night-Mvw {
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.1975;
        color: #ffffff;
        font-family: Inria Serif, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.9rem;
      }
      .available-W39 {
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-4-3om {
      margin-bottom: 2.8482rem;
      width: 24.5rem;
      height: 5.8809rem;
      position: relative;
      border-radius: 2.4rem;
      flex-shrink: 0;

      .rectangle-1-oH9 {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #0f1c5f;
        border-radius: 2.4rem;
        width: 22.1rem;
        height: 5.206rem;
      }
      .save-my-spot-weF {
        white-space: nowrap;
        width: 13rem;
        position: absolute;
        font-size: 2rem;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        height: 2.5rem;
        left: 4.7rem;
        top: 1.2533rem;
        font-weight: 400;
      }
    }
  }
  .auto-group-cybx-T6o {
    width: 113.5rem;
    height: 11.2rem;
    position: absolute;
    left: 9.4rem;
    top: 384.7rem;
    display: flex;
    align-items: center;

    .sun-10-march-2024-bD1 {
      font-weight: 400;
      line-height: 1.2102272034;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 12.6rem;
      font-size: 2rem;

      .sun-10-march-2024-bD1-sub-0 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .sun-10-march-2024-bD1-sub-1 {
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .sun-10-march-2024-bD1-sub-2 {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.2rem;
        font-weight: 400;
      }
    }
    .auto-group-dtc1-7qZ {
      align-items: flex-start;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-left: 7.5rem;
      height: 100%;
      display: flex;

      .auto-group-jwzm-URD {
        flex-shrink: 0;
        margin-right: 28.8rem;
        display: flex;
        flex-direction: column;

        .poetry-slam-battle-pjy {
          margin-bottom: 2rem;
          font-size: 5rem;
          font-weight: 400;
          line-height: 1.1975;
          color: #ffffff;
          font-family: Inria Serif, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .available-NFh {
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
        }
      }
      .auto-group-m6sf-iaT {
        align-items: center;
        justify-content: center;
        background-color: #0f1c5f;
        border-radius: 2.4rem;
        flex-shrink: 0;
        margin-top: 0.5rem;
        line-height: 1.2125;
        color: #ffffff;
        white-space: nowrap;
        width: 22.1rem;
        font-size: 2rem;
        font-family: Inter, 'Source Sans Pro';
        height: 5.206rem;
        display: flex;
        font-weight: 400;
      }
    }
  }
  .auto-group-msy3-1Jf {
    left: 7.1rem;
    top: 455.7rem;
    width: 139.3rem;
    height: 115rem;
    position: absolute;

    .experience-the-power-of-poetry-virtually-wCK {
      width: 37.9rem;
      height: 2.5rem;
      position: absolute;
      left: 1.7rem;
      font-size: 2rem;
      font-family: Inter, 'Source Sans Pro';
      top: 0;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
    }
    .rectangle-2-dL3 {
      width: 22.1rem;
      height: 5.206rem;
      position: absolute;
      left: 1.7rem;
      top: 6.9155rem;
      background-color: #0f1c5f;
      border-radius: 2.4rem;
    }
    .sign-up-ZDh {
      left: 8.4rem;
      top: 8.0724rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 7.1rem;
      height: 2.5rem;
      white-space: nowrap;
      position: absolute;
      color: #ffffff;
    }
    .rectangle-3-Gto {
      border-radius: 2.4rem;
      width: 22.1rem;
      height: 5.206rem;
      position: absolute;
      left: 43.6rem;
      top: 7rem;
      background-color: #0f1c5f;
    }
    .learn-more-1bV {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      height: 2.5rem;
      left: 49.3rem;
      top: 8.1rem;
      color: #ffffff;
      white-space: nowrap;
      width: 10.8rem;
    }
    .a-photo-of-a-group-of-people-sitting-in-a-circle-1-8g7 {
      top: 26.9rem;
      object-fit: cover;
      vertical-align: top;
      width: 106.2rem;
      height: 88.1rem;
      position: absolute;
      left: 0;
    }
    .screenshot-2024-03-01-030812-2-rMD {
      vertical-align: top;
      width: 66.1rem;
      height: 35.2rem;
      position: absolute;
      left: 73.2rem;
      top: 0;
      object-fit: cover;
    }
  }
  .auto-group-4znd-x9M {
    width: 123.2rem;
    height: 46.4rem;
    position: absolute;
    left: 15.7rem;
    top: 32.2rem;
    display: flex;
    align-items: flex-start;

    .auto-group-gk97-5jm {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 4.5rem;
      width: 47.2rem;

      .unleash-your-poetic-talent-at-our-virtual-slam-Dqy {
        font-weight: 400;
        line-height: 1.1975;
        color: #ffffff;
        font-family: Inria Serif, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 0rem 2.5rem 3.1rem;
        max-width: 44.1rem;
        font-size: 5rem;
      }
      .join-poets-from-around-the-world-in-our-innovative-virtual-poetry-slam-showcasting-your-talent-has-never-been-easier-vVV {
        font-weight: 400;
        line-height: 1.1975;
        color: #ffffff;
        font-family: Inria Serif, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 0.9rem 12.2rem 0rem;
        max-width: 40.3rem;
        font-size: 2rem;
      }
      .auto-group-t2zk-119 {
        margin-right: 3.8rem;
        width: calc(100% - 3.8rem);
        height: 6.5rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-nzzf-wfV {
          line-height: 1.1975;
          font-family: Inria Serif, 'Source Sans Pro';
          display: flex;
          background-color: #0f1c5f;
          width: 16.4rem;
          color: #ffffff;
          white-space: nowrap;
          margin-right: 10.6rem;
          height: 100%;
          font-weight: 400;
          flex-shrink: 0;
          font-size: 2.5rem;
          align-items: center;
          justify-content: center;
          border-radius: 2.4rem;
        }
        .auto-group-yhvm-r1m {
          color: #ffffff;
          justify-content: center;
          font-size: 2.5rem;
          line-height: 1.1975;
          align-items: center;
          display: flex;
          background-color: #0f1c5f;
          border-radius: 2.4rem;
          width: 16.4rem;
          height: 100%;
          font-weight: 400;
          font-family: Inria Serif, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .digital-hologram-code-shines-from-the-hand-1-x4o {
      margin-top: 0.2rem;
      width: 71.5rem;
      height: 44.8rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-1ujq-H75 {
    width: 133rem;
    height: 19.7rem;
    position: absolute;
    left: 9rem;
    top: 107.6rem;

    .empowering-poets-worldwide-with-an-inclusive-and-global-poetry-platform-DmR {
      font-size: 5rem;
      font-family: Inria Serif, 'Source Sans Pro';
      height: 18rem;
      position: absolute;
      left: 0;
      top: 0;
      width: 80.5rem;
      font-weight: 400;
      line-height: 1.1975;
      color: #ffffff;
    }
    .discover-a-platform-that-brings-poets-from-around-the-world-together-providing-a-fair-and-unbiased-space-for-their-talent-to-shine-with-our-innovative-al-judging-technology-we-ensure-that-every-poet-gets-a-chance-to-be-heard-and-appreciated-jDy {
      top: 10.1rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Inria Serif, 'Source Sans Pro';
      width: 58.3rem;
      position: absolute;
      font-size: 2rem;
      line-height: 1.1975;
      height: 9.6rem;
      left: 74.7rem;
    }
  }
  .auto-group-qqsd-9Yb {
    align-items: center;
    width: 128.7rem;
    height: 66.2rem;
    position: absolute;
    left: 7.9rem;
    top: 246.9rem;
    display: flex;

    .auto-group-2rmk-sUb {
      margin: 0.8rem 5.8rem 1rem 0rem;
      width: 72rem;
      height: calc(100% - 1.8rem);
      flex-shrink: 0;

      .experience-fair-and-unbiased-evaluations-with-our-ai-judging-system-QDd {
        font-family: Inria Serif, 'Source Sans Pro';
        margin-bottom: 11.1rem;
        max-width: 72rem;
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.1975;
        color: #ffffff;
      }
      .our-virtual-poetry-slam-events-utilize-innovative-al-technology-to-ensure-fair-and-unbiased-evaluations-with-our-al-judging-system-poets-from-all-over-the-world-can-participate-and-receive-objective-feedback-X3M {
        max-width: 57.3rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1975;
        color: #ffffff;
        font-family: Inria Serif, 'Source Sans Pro';
        margin: 0rem 0rem 9.2rem 0.9rem;
      }
      .auto-group-hbpb-a1d {
        margin: 0rem 7.4rem 0rem 0.9rem;
        width: calc(100% - 8.3rem);
        height: 16.5rem;
        display: flex;
        align-items: flex-start;

        .auto-group-mxyf-JCX {
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 4.7rem;
          display: flex;

          .ai-technology-e1V {
            color: #ffffff;
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 4.8rem;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.1975;
          }
          .our-al-judging-system-evaluates-performances-based-on-objective-criteria-eliminating-human-bias-JVM {
            max-width: 30.8rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.1975;
            color: #ffffff;
            font-family: Inria Serif, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .group-2-1Pm {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .inclusive-platform-aBy {
            font-weight: 400;
            line-height: 1.1975;
            color: #ffffff;
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 3.9rem;
            font-size: 2.5rem;
          }
          .we-provide-a-platform-where-poets-worldwide-can-showcase-their-talent-and-connect-with-others-vFq {
            flex-shrink: 0;
            max-width: 28.2rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.1975;
            color: #ffffff;
            font-family: Inria Serif, 'Source Sans Pro';
          }
        }
      }
    }
    .a-concept-visual-of-intelligence-artificial-in-hea-1-q7u {
      vertical-align: top;
      flex-shrink: 0;
      width: 50.9rem;
      height: 66.2rem;
      object-fit: cover;
    }
  }
  .upcoming-Zpb {
    width: 23.4rem;
    left: 7.9rem;
    top: 327.5rem;
    line-height: 1.1975;
    white-space: nowrap;
    font-family: Inria Serif, 'Source Sans Pro';
    height: 6rem;
    position: absolute;
    font-size: 5rem;
    font-weight: 400;
    color: #ffffff;
  }
  .join-our-poetry-slam-community-VTM {
    width: 76.2rem;
    height: 6rem;
    font-size: 5rem;
    font-weight: 400;
    font-family: Inria Serif, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 8.8rem;
    top: 446.3rem;
    line-height: 1.1975;
    color: #ffffff;
  }
  .discover-the-latest-Ccf {
    font-family: Inria Serif, 'Source Sans Pro';
    height: 6rem;
    position: absolute;
    top: 620.7rem;
    font-size: 5rem;
    color: #ffffff;
    width: 43.8rem;
    left: 49.5rem;
    font-weight: 400;
    line-height: 1.1975;
    white-space: nowrap;
  }
  .auto-group-dylh-KhH {
    width: 119.3rem;
    height: 48.8rem;
    position: absolute;
    left: 10.8rem;
    top: 718.4rem;
    display: flex;
    align-items: center;

    .decentralized-social-media-with-merged-social-medi-1-THh {
      margin-right: 4.7rem;
      width: 67.3rem;
      height: 48.8rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .the-future-of-virtual-events-PSF {
      font-weight: 400;
      line-height: 1.1975;
      color: #ffffff;
      font-family: Inria Serif, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 6.8rem;
      max-width: 47.3rem;
      font-size: 5rem;
    }
  }
  .pricing-options-vSB {
    height: 6rem;
    left: 19.2rem;
    font-size: 5rem;
    font-weight: 400;
    line-height: 1.1975;
    font-family: Inria Serif, 'Source Sans Pro';
    white-space: nowrap;
    width: 35.4rem;
    position: absolute;
    top: 813rem;
    color: #ffffff;
  }
  .faqs-qp3 {
    width: 11.3rem;
    height: 6rem;
    top: 923.8rem;
    font-size: 5rem;
    color: #ffffff;
    white-space: nowrap;
    position: absolute;
    left: 14rem;
    font-weight: 400;
    line-height: 1.1975;
    font-family: Inria Serif, 'Source Sans Pro';
  }
  .auto-group-3gmb-aFq {
    height: 59.9rem;
    position: absolute;
    left: 12.1rem;
    top: 641.8rem;
    display: flex;
    align-items: center;
    width: 119.3rem;

    .make-a-simplistic-black-and-white-logo-of-a-notebo-1-uou {
      margin-right: 9.8rem;
      width: 59.9rem;
      height: 59.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .unleashing-creativity-through-words-S39 {
      font-family: Inria Serif, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 6.7rem;
      max-width: 49.6rem;
      font-size: 5rem;
      font-weight: 400;
      line-height: 1.1975;
      color: #ffffff;
    }
  }
  .auto-group-zntw-AE3 {
    width: 65rem;
    height: 7.4rem;
    position: absolute;
    left: 67.4rem;
    top: 144.4rem;
    display: flex;
    align-items: center;

    .join-a-community-that-celebrates-diversity-and-embraces-poets-of-all-backgrounds-and-experiences-JLF {
      font-weight: 400;
      line-height: 1.1975;
      color: #ffffff;
      font-family: Inria Serif, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0.2rem 5.4rem 0rem 0rem;
      max-width: 30.8rem;
      font-size: 2rem;
    }
    .connect-with-poets-from-every-corner-of-the-world-and-expand-your-creative-horizons-nmD {
      max-width: 28.8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.1975;
      color: #ffffff;
      font-family: Inria Serif, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 0.2rem;
    }
  }
  .discover-exciting-poetry-slam-events-happening-near-you-htB {
    height: 4.8rem;
    font-family: Inria Serif, 'Source Sans Pro';
    line-height: 1.1975;
    color: #ffffff;
    width: 27.2rem;
    position: absolute;
    left: 8.9rem;
    top: 339.8rem;
    font-size: 2rem;
    font-weight: 400;
  }
  .auto-group-cvgd-QGo {
    width: 51.1rem;
    height: 3.9rem;
    position: absolute;
    left: 67.4rem;
    top: 139.6rem;
    display: flex;
    align-items: center;

    .inclusivity-LgF {
      margin: 0.9rem 24rem 0rem 0rem;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.1975;
      color: #ffffff;
      font-family: Inria Serif, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .global-reach-fiX {
      line-height: 1.1975;
      color: #ffffff;
      font-family: Inria Serif, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.9rem;
      font-size: 2.5rem;
      font-weight: 400;
    }
  }
  .trending-on-artstation-1-Qw1 {
    top: 160rem;
    object-fit: cover;
    vertical-align: top;
    width: 123.3rem;
    height: 57.7rem;
    position: absolute;
    left: 13.3rem;
  }
  .auto-group-frfp-wvw {
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    background-color: #0f1c5f;
    padding: 0.657rem 7.5rem 0.657rem 7.3rem;
    white-space: nowrap;
    box-sizing: border-box;
    width: 22.1rem;
    font-weight: 400;
    border-radius: 2.4rem;
    line-height: 1.2125;
    height: 5.206rem;
    position: absolute;
    left: 58.2rem;
    top: 780.7rem;
    font-size: 2rem;
  }
  .auto-group-cryu-cnB {
    white-space: nowrap;
    align-items: center;
    width: 25.5rem;
    left: 39.9rem;
    top: 890.2rem;
    font-size: 2.5rem;
    position: absolute;
    border-radius: 2.4rem;
    font-weight: 400;
    line-height: 1.2125;
    justify-content: center;
    background-color: #0f1c5f;
    height: 6.5rem;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    display: flex;
  }
  .affordable-umH {
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 10rem;
    height: 2.5rem;
    position: absolute;
    left: 19.6rem;
    top: 808.4rem;
    font-size: 2rem;
    color: #ffffff;
  }
  .choose-the-plan-that-best-suits-your-poetry-slam-needs-Rjd {
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    height: 2.5rem;
    position: absolute;
    left: 19.2rem;
    top: 822.4rem;
    line-height: 1.2125;
    width: 52.4rem;
    font-size: 2rem;
    font-weight: 400;
    white-space: nowrap;
  }
  .articles-wCB {
    font-weight: 400;
    line-height: 1.1975;
    color: #ffffff;
    font-family: Inria Serif, 'Source Sans Pro';
    width: 7.1rem;
    position: absolute;
    top: 612.4rem;
    white-space: nowrap;
    height: 2.4rem;
    left: 66.7rem;
    font-size: 2rem;
  }
  .explore-our-blog-for-insights-on-petry-virtual-events-and-ai-technology-FyZ {
    height: 2.4rem;
    font-size: 2rem;
    line-height: 1.1975;
    color: #ffffff;
    white-space: nowrap;
    width: 65.1rem;
    left: 39rem;
    top: 630.1rem;
    font-weight: 400;
    font-family: Inria Serif, 'Source Sans Pro';
    position: absolute;
  }
  .auto-group-umqy-9p3 {
    position: absolute;
    left: 14.3rem;
    top: 935.5rem;
    width: 108rem;
    height: 91rem;

    .find-answers-to-common-questions-about-participating-in-our-virtual-poetry-slam-events-al-judging-and-event-scheduling-how-to-participate-to-participate-in-our-virtual-poetry-slam-events-simply-sign-up-on-our-website-and-submit-your-original-poem-make-sure-to-follow-the-guidelines-provided-to-ensure-a-fair-evaluation-by-our-innovative-al-judging-system-al-judging-our-al-judging-system-uses-advanced-algorithms-to-evaluate-poems-based-on-various-criteria-such-as-creativity-originality-and-delivery-this-ensures-fair-and-unbiased-evaluations-for-all-participants-event-scheduling-our-virtual-poetry-slam-events-are-scheduled-periodically-throughout-the-year-you-can-check-our-event-calendar-on-the-website-to-stay-updated-on-upcoming-events-and-their-respective-dates-JB9 {
      line-height: 1.2125;
      color: #ffffff;
      width: 108rem;
      height: 91rem;
      position: absolute;
      top: 0;
      font-size: 2.5rem;
      left: 0;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
    }
    .item--17V {
      width: 1.8rem;
      position: absolute;
      left: 96.2rem;
      top: 15.4rem;
      line-height: 1.2125;
      height: 4.5rem;
      font-size: 3.7rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item--vVM {
      width: 1.8rem;
      height: 4.5rem;
      left: 96.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      position: absolute;
      top: 42.5rem;
      font-size: 3.7rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item--csy {
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      font-weight: 400;
      height: 4.5rem;
      position: absolute;
      left: 96.2rem;
      top: 69.6rem;
      font-size: 3.7rem;
      color: #ffffff;
      white-space: nowrap;
      width: 1.8rem;
    }
  }
  .auto-group-mijx-Xk3 {
    width: 112.5rem;
    height: 78.1rem;
    position: absolute;
    left: 17.1rem;
    top: 1079.3rem;
    display: flex;
    align-items: flex-start;

    .auto-group-enzh-fbM {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.4rem 25.3rem 0rem 0rem;

      .connect-bju {
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2.1rem;
      }
      .contact-information-8jq {
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 4.2rem;
      }
      .have-a-question-or-need-support-reach-out-to-us-H6w {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 5.6rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
      }
      .email-send-us-an-email-aidrivenpeotryio-phone-give-us-a-call-91-6785623232-office-124-krishna-complex-new-delhi-india-oLB {
        max-width: 20.5rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-left: 0.1rem;
      }
    }
    .graphic-user-interface-of-an-app-1-5oV {
      border-radius: 4.4rem;
      flex-shrink: 0;
      width: 39.3rem;
      height: 78.1rem;
      position: relative;
      background-size: 106.894% 104.563%;
      background-position: -1.3548rem -3.5639rem;
      background-image: url('REPLACE_IMAGE:842f777cbac8fd12a00629272989779d3d0466d0');
    }
  }
  .aidriven-all-rights-reserved-privacy-policy-terms-of-service-cookies-setting-mgK {
    top: 1171.2rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 121.6rem;
    height: 9.7rem;
    position: absolute;
    left: 17.5rem;

    .aidriven-all-rights-reserved-privacy-policy-terms-of-service-cookies-setting-mgK-sub-0 {
    }
    .aidriven-all-rights-reserved-privacy-policy-terms-of-service-cookies-setting-mgK-sub-1 {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.1975;
      color: #ffffff;
      font-family: Inria Serif, 'Source Sans Pro';
    }
  }
}
