
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
}.desktop-1-25V {
  width: 100%;
  height: 1197rem;
  position: relative;
  overflow: hidden;
  background: linear-gradient(181.05deg, #480f80 70.38%, #8d36e3 99.1%);
}
.desktop-1-25V .auto-group-3njx-UTH {
  width: 83.3rem;
  height: 26.2rem;
  position: absolute;
  left: 0;
  top: 0;
}
.desktop-1-25V .auto-group-3njx-UTH .group-3-nMV {
  width: 39.1rem;
  height: 4.5rem;
  position: absolute;
  left: 41.3rem;
  top: 3.5rem;
  display: flex;
  align-items: center;
}
.desktop-1-25V .auto-group-3njx-UTH .group-3-nMV .auto-group-lk45-78s {
  box-sizing: border-box;
  padding: 0.8rem 0.8rem 1.1rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-3njx-UTH .group-3-nMV .auto-group-lk45-78s .about-us-dd1 {
  margin: 0rem 4.4rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-3njx-UTH .group-3-nMV .auto-group-lk45-78s .events-iuM {
  margin: 0rem 4.5rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-3njx-UTH .group-3-nMV .auto-group-lk45-78s .poets-qyy {
  margin-top: 0.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-3njx-UTH .group-3-nMV .group-1-txF {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-3njx-UTH .group-3-nMV .group-1-txF .item--3aF {
  margin-right: 2.4rem;
  font-size: 3.7rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-3njx-UTH .group-3-nMV .group-1-txF .more-yio {
  margin-bottom: 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-3njx-UTH .screenshot-2024-03-01-030812-1-7KD {
  width: 48.7rem;
  height: 26.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-25V .auto-group-d261-doM {
  width: 47.6rem;
  height: 20.1rem;
  position: absolute;
  left: 14.3rem;
  top: 1030.4rem;
}
.desktop-1-25V .auto-group-d261-doM .rectangle-7-yMR {
  width: 17.8rem;
  height: 4.7rem;
  position: absolute;
  left: 1.6rem;
  top: 15.4rem;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
}
.desktop-1-25V .auto-group-d261-doM .still-have-questions-contact-us-for-further-assistance-contact-us-tDV {
  width: 47.6rem;
  height: 19.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
}
.desktop-1-25V .auto-group-d261-doM .still-have-questions-contact-us-for-further-assistance-contact-us-tDV .still-have-questions-contact-us-for-further-assistance-contact-us-tDV-sub-0 {
}
.desktop-1-25V .auto-group-d261-doM .still-have-questions-contact-us-for-further-assistance-contact-us-tDV .still-have-questions-contact-us-for-further-assistance-contact-us-tDV-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
}
.desktop-1-25V .auto-group-d261-doM .still-have-questions-contact-us-for-further-assistance-contact-us-tDV .still-have-questions-contact-us-for-further-assistance-contact-us-tDV-sub-2 {
}
.desktop-1-25V .auto-group-d261-doM .still-have-questions-contact-us-for-further-assistance-contact-us-tDV .still-have-questions-contact-us-for-further-assistance-contact-us-tDV-sub-3 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
}
.desktop-1-25V .auto-group-axir-Eq5 {
  width: 66.8rem;
  height: 54.6rem;
  position: absolute;
  left: 18rem;
  top: 834.3rem;
}
.desktop-1-25V .auto-group-axir-Eq5 .rectangle-5-NgP {
  width: 66.8rem;
  height: 53rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
}
.desktop-1-25V .auto-group-axir-Eq5 .basic-plan-for-casual-participants-and-beginners-includes-event-participation-community-access-limited-features-limited-storage-no-customization-ai-judging-basic-support-78B {
  width: 65.4rem;
  height: 53.4rem;
  position: absolute;
  left: 0.8rem;
  top: 1.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-25V .auto-group-axir-Eq5 .mo-iNs {
  width: 18.5rem;
  height: 6.1rem;
  position: absolute;
  left: 45.8rem;
  top: 0;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .auto-group-pblq-3AF {
  width: 75rem;
  height: 23rem;
  position: absolute;
  left: 10rem;
  top: 355.9rem;
  display: flex;
  align-items: flex-start;
}
.desktop-1-25V .auto-group-pblq-3AF .auto-group-zvgd-mrw {
  margin: 0.5rem 6.2rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-pblq-3AF .auto-group-zvgd-mrw .view-all-Jby {
  margin-bottom: 8.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-pblq-3AF .auto-group-zvgd-mrw .fri-09-march-2024-33m {
  max-width: 12.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-pblq-3AF .auto-group-zvgd-mrw .fri-09-march-2024-33m .fri-09-march-2024-33m-sub-0 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-25V .auto-group-pblq-3AF .auto-group-zvgd-mrw .fri-09-march-2024-33m .fri-09-march-2024-33m-sub-1 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-25V .auto-group-pblq-3AF .auto-group-zvgd-mrw .fri-09-march-2024-33m .fri-09-march-2024-33m-sub-2 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-25V .auto-group-pblq-3AF .auto-group-a3mf-jKu {
  width: 56.2rem;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-pblq-3AF .auto-group-a3mf-jKu .auto-group-rxj7-HsD {
  margin-bottom: 1.1rem;
  width: 100%;
  height: 16.8rem;
  position: relative;
}
.desktop-1-25V .auto-group-pblq-3AF .auto-group-a3mf-jKu .auto-group-rxj7-HsD .group-1-qdq {
  box-sizing: border-box;
  padding: 0rem 8.632rem 0rem 14.468rem;
  width: 34.5rem;
  height: 12.8481rem;
  position: absolute;
  left: 8rem;
  top: 0.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.2rem;
}
.desktop-1-25V .auto-group-pblq-3AF .auto-group-a3mf-jKu .auto-group-rxj7-HsD .open-mic-uNo {
  width: 9rem;
  height: 2.5rem;
  position: absolute;
  left: 46.4rem;
  top: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .auto-group-pblq-3AF .auto-group-a3mf-jKu .auto-group-rxj7-HsD .spoken-word-DeP {
  width: 12.6rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .auto-group-pblq-3AF .auto-group-a3mf-jKu .auto-group-rxj7-HsD .captivating-poetry-night-jsd {
  width: 56.2rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 10.8rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .auto-group-pblq-3AF .auto-group-a3mf-jKu .sold-out-rxF {
  margin-left: 0.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .auto-group-euzo-QD5 {
  width: 115.3rem;
  height: 11.4rem;
  position: absolute;
  left: 10rem;
  top: 401.7rem;
  display: flex;
  align-items: center;
}
.desktop-1-25V .auto-group-euzo-QD5 .thrusday-15-march-2024-vx7 {
  margin: 0rem 6.9rem 0.2rem 0rem;
  max-width: 12.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-euzo-QD5 .thrusday-15-march-2024-vx7 .thrusday-15-march-2024-vx7-sub-0 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-25V .auto-group-euzo-QD5 .thrusday-15-march-2024-vx7 .thrusday-15-march-2024-vx7-sub-1 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-25V .auto-group-euzo-QD5 .thrusday-15-march-2024-vx7 .thrusday-15-march-2024-vx7-sub-2 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-25V .auto-group-euzo-QD5 .auto-group-4ncv-pw1 {
  margin: 1rem 18.9rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-euzo-QD5 .auto-group-4ncv-pw1 .poetry-showcase-night-Mvw {
  margin-bottom: 1.9rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-euzo-QD5 .auto-group-4ncv-pw1 .available-W39 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-euzo-QD5 .group-4-3om {
  margin-bottom: 2.8482rem;
  width: 24.5rem;
  height: 5.8809rem;
  position: relative;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-euzo-QD5 .group-4-3om .rectangle-1-oH9 {
  width: 22.1rem;
  height: 5.206rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0f1c5f;
  border-radius: 2.4rem;
}
.desktop-1-25V .auto-group-euzo-QD5 .group-4-3om .save-my-spot-weF {
  width: 13rem;
  height: 2.5rem;
  position: absolute;
  left: 4.7rem;
  top: 1.2533rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .auto-group-cybx-T6o {
  width: 113.5rem;
  height: 11.2rem;
  position: absolute;
  left: 9.4rem;
  top: 384.7rem;
  display: flex;
  align-items: center;
}
.desktop-1-25V .auto-group-cybx-T6o .sun-10-march-2024-bD1 {
  max-width: 12.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-cybx-T6o .sun-10-march-2024-bD1 .sun-10-march-2024-bD1-sub-0 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-25V .auto-group-cybx-T6o .sun-10-march-2024-bD1 .sun-10-march-2024-bD1-sub-1 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-25V .auto-group-cybx-T6o .sun-10-march-2024-bD1 .sun-10-march-2024-bD1-sub-2 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-25V .auto-group-cybx-T6o .auto-group-dtc1-7qZ {
  box-sizing: border-box;
  padding-left: 7.5rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-cybx-T6o .auto-group-dtc1-7qZ .auto-group-jwzm-URD {
  margin-right: 28.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-cybx-T6o .auto-group-dtc1-7qZ .auto-group-jwzm-URD .poetry-slam-battle-pjy {
  margin-bottom: 2rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-cybx-T6o .auto-group-dtc1-7qZ .auto-group-jwzm-URD .available-NFh {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-cybx-T6o .auto-group-dtc1-7qZ .auto-group-m6sf-iaT {
  margin-top: 0.5rem;
  width: 22.1rem;
  height: 5.206rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f1c5f;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-msy3-1Jf {
  width: 139.3rem;
  height: 115rem;
  position: absolute;
  left: 7.1rem;
  top: 455.7rem;
}
.desktop-1-25V .auto-group-msy3-1Jf .experience-the-power-of-poetry-virtually-wCK {
  width: 37.9rem;
  height: 2.5rem;
  position: absolute;
  left: 1.7rem;
  top: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .auto-group-msy3-1Jf .rectangle-2-dL3 {
  width: 22.1rem;
  height: 5.206rem;
  position: absolute;
  left: 1.7rem;
  top: 6.9155rem;
  background-color: #0f1c5f;
  border-radius: 2.4rem;
}
.desktop-1-25V .auto-group-msy3-1Jf .sign-up-ZDh {
  width: 7.1rem;
  height: 2.5rem;
  position: absolute;
  left: 8.4rem;
  top: 8.0724rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .auto-group-msy3-1Jf .rectangle-3-Gto {
  width: 22.1rem;
  height: 5.206rem;
  position: absolute;
  left: 43.6rem;
  top: 7rem;
  background-color: #0f1c5f;
  border-radius: 2.4rem;
}
.desktop-1-25V .auto-group-msy3-1Jf .learn-more-1bV {
  width: 10.8rem;
  height: 2.5rem;
  position: absolute;
  left: 49.3rem;
  top: 8.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .auto-group-msy3-1Jf .a-photo-of-a-group-of-people-sitting-in-a-circle-1-8g7 {
  width: 106.2rem;
  height: 88.1rem;
  position: absolute;
  left: 0;
  top: 26.9rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-25V .auto-group-msy3-1Jf .screenshot-2024-03-01-030812-2-rMD {
  width: 66.1rem;
  height: 35.2rem;
  position: absolute;
  left: 73.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-25V .auto-group-4znd-x9M {
  width: 123.2rem;
  height: 46.4rem;
  position: absolute;
  left: 15.7rem;
  top: 32.2rem;
  display: flex;
  align-items: flex-start;
}
.desktop-1-25V .auto-group-4znd-x9M .auto-group-gk97-5jm {
  margin-right: 4.5rem;
  width: 47.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-4znd-x9M .auto-group-gk97-5jm .unleash-your-poetic-talent-at-our-virtual-slam-Dqy {
  margin: 0rem 0rem 2.5rem 3.1rem;
  max-width: 44.1rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-4znd-x9M .auto-group-gk97-5jm .join-poets-from-around-the-world-in-our-innovative-virtual-poetry-slam-showcasting-your-talent-has-never-been-easier-vVV {
  margin: 0rem 0.9rem 12.2rem 0rem;
  max-width: 40.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-4znd-x9M .auto-group-gk97-5jm .auto-group-t2zk-119 {
  margin-right: 3.8rem;
  width: calc(100% - 3.8rem);
  height: 6.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-4znd-x9M .auto-group-gk97-5jm .auto-group-t2zk-119 .auto-group-nzzf-wfV {
  margin-right: 10.6rem;
  width: 16.4rem;
  height: 100%;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f1c5f;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-4znd-x9M .auto-group-gk97-5jm .auto-group-t2zk-119 .auto-group-yhvm-r1m {
  width: 16.4rem;
  height: 100%;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f1c5f;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-4znd-x9M .digital-hologram-code-shines-from-the-hand-1-x4o {
  margin-top: 0.2rem;
  width: 71.5rem;
  height: 44.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-1ujq-H75 {
  width: 133rem;
  height: 19.7rem;
  position: absolute;
  left: 9rem;
  top: 107.6rem;
}
.desktop-1-25V .auto-group-1ujq-H75 .empowering-poets-worldwide-with-an-inclusive-and-global-poetry-platform-DmR {
  width: 80.5rem;
  height: 18rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
}
.desktop-1-25V .auto-group-1ujq-H75 .discover-a-platform-that-brings-poets-from-around-the-world-together-providing-a-fair-and-unbiased-space-for-their-talent-to-shine-with-our-innovative-al-judging-technology-we-ensure-that-every-poet-gets-a-chance-to-be-heard-and-appreciated-jDy {
  width: 58.3rem;
  height: 9.6rem;
  position: absolute;
  left: 74.7rem;
  top: 10.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
}
.desktop-1-25V .auto-group-qqsd-9Yb {
  width: 128.7rem;
  height: 66.2rem;
  position: absolute;
  left: 7.9rem;
  top: 246.9rem;
  display: flex;
  align-items: center;
}
.desktop-1-25V .auto-group-qqsd-9Yb .auto-group-2rmk-sUb {
  margin: 0.8rem 5.8rem 1rem 0rem;
  width: 72rem;
  height: calc(100% - 1.8rem);
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-qqsd-9Yb .auto-group-2rmk-sUb .experience-fair-and-unbiased-evaluations-with-our-ai-judging-system-QDd {
  margin-bottom: 11.1rem;
  max-width: 72rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
}
.desktop-1-25V .auto-group-qqsd-9Yb .auto-group-2rmk-sUb .our-virtual-poetry-slam-events-utilize-innovative-al-technology-to-ensure-fair-and-unbiased-evaluations-with-our-al-judging-system-poets-from-all-over-the-world-can-participate-and-receive-objective-feedback-X3M {
  margin: 0rem 0rem 9.2rem 0.9rem;
  max-width: 57.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
}
.desktop-1-25V .auto-group-qqsd-9Yb .auto-group-2rmk-sUb .auto-group-hbpb-a1d {
  margin: 0rem 7.4rem 0rem 0.9rem;
  width: calc(100% - 8.3rem);
  height: 16.5rem;
  display: flex;
  align-items: flex-start;
}
.desktop-1-25V .auto-group-qqsd-9Yb .auto-group-2rmk-sUb .auto-group-hbpb-a1d .auto-group-mxyf-JCX {
  margin-right: 4.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-qqsd-9Yb .auto-group-2rmk-sUb .auto-group-hbpb-a1d .auto-group-mxyf-JCX .ai-technology-e1V {
  margin-bottom: 4.8rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-qqsd-9Yb .auto-group-2rmk-sUb .auto-group-hbpb-a1d .auto-group-mxyf-JCX .our-al-judging-system-evaluates-performances-based-on-objective-criteria-eliminating-human-bias-JVM {
  max-width: 30.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-qqsd-9Yb .auto-group-2rmk-sUb .auto-group-hbpb-a1d .group-2-1Pm {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-qqsd-9Yb .auto-group-2rmk-sUb .auto-group-hbpb-a1d .group-2-1Pm .inclusive-platform-aBy {
  margin-bottom: 3.9rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-qqsd-9Yb .auto-group-2rmk-sUb .auto-group-hbpb-a1d .group-2-1Pm .we-provide-a-platform-where-poets-worldwide-can-showcase-their-talent-and-connect-with-others-vFq {
  max-width: 28.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-qqsd-9Yb .a-concept-visual-of-intelligence-artificial-in-hea-1-q7u {
  width: 50.9rem;
  height: 66.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-25V .upcoming-Zpb {
  width: 23.4rem;
  height: 6rem;
  position: absolute;
  left: 7.9rem;
  top: 327.5rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .join-our-poetry-slam-community-VTM {
  width: 76.2rem;
  height: 6rem;
  position: absolute;
  left: 8.8rem;
  top: 446.3rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .discover-the-latest-Ccf {
  width: 43.8rem;
  height: 6rem;
  position: absolute;
  left: 49.5rem;
  top: 620.7rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .auto-group-dylh-KhH {
  width: 119.3rem;
  height: 48.8rem;
  position: absolute;
  left: 10.8rem;
  top: 718.4rem;
  display: flex;
  align-items: center;
}
.desktop-1-25V .auto-group-dylh-KhH .decentralized-social-media-with-merged-social-medi-1-THh {
  margin-right: 4.7rem;
  width: 67.3rem;
  height: 48.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-dylh-KhH .the-future-of-virtual-events-PSF {
  margin-bottom: 6.8rem;
  max-width: 47.3rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-25V .pricing-options-vSB {
  width: 35.4rem;
  height: 6rem;
  position: absolute;
  left: 19.2rem;
  top: 813rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .faqs-qp3 {
  width: 11.3rem;
  height: 6rem;
  position: absolute;
  left: 14rem;
  top: 923.8rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .auto-group-3gmb-aFq {
  width: 119.3rem;
  height: 59.9rem;
  position: absolute;
  left: 12.1rem;
  top: 641.8rem;
  display: flex;
  align-items: center;
}
.desktop-1-25V .auto-group-3gmb-aFq .make-a-simplistic-black-and-white-logo-of-a-notebo-1-uou {
  margin-right: 9.8rem;
  width: 59.9rem;
  height: 59.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-3gmb-aFq .unleashing-creativity-through-words-S39 {
  margin-bottom: 6.7rem;
  max-width: 49.6rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-zntw-AE3 {
  width: 65rem;
  height: 7.4rem;
  position: absolute;
  left: 67.4rem;
  top: 144.4rem;
  display: flex;
  align-items: center;
}
.desktop-1-25V .auto-group-zntw-AE3 .join-a-community-that-celebrates-diversity-and-embraces-poets-of-all-backgrounds-and-experiences-JLF {
  margin: 0.2rem 5.4rem 0rem 0rem;
  max-width: 30.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-zntw-AE3 .connect-with-poets-from-every-corner-of-the-world-and-expand-your-creative-horizons-nmD {
  margin-bottom: 0.2rem;
  max-width: 28.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-25V .discover-exciting-poetry-slam-events-happening-near-you-htB {
  width: 27.2rem;
  height: 4.8rem;
  position: absolute;
  left: 8.9rem;
  top: 339.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
}
.desktop-1-25V .auto-group-cvgd-QGo {
  width: 51.1rem;
  height: 3.9rem;
  position: absolute;
  left: 67.4rem;
  top: 139.6rem;
  display: flex;
  align-items: center;
}
.desktop-1-25V .auto-group-cvgd-QGo .inclusivity-LgF {
  margin: 0.9rem 24rem 0rem 0rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-cvgd-QGo .global-reach-fiX {
  margin-bottom: 0.9rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-25V .trending-on-artstation-1-Qw1 {
  width: 123.3rem;
  height: 57.7rem;
  position: absolute;
  left: 13.3rem;
  top: 160rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-25V .auto-group-frfp-wvw {
  box-sizing: border-box;
  padding: 0.657rem 7.5rem 0.657rem 7.3rem;
  width: 22.1rem;
  height: 5.206rem;
  position: absolute;
  left: 58.2rem;
  top: 780.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #0f1c5f;
  border-radius: 2.4rem;
}
.desktop-1-25V .auto-group-cryu-cnB {
  width: 25.5rem;
  height: 6.5rem;
  position: absolute;
  left: 39.9rem;
  top: 890.2rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f1c5f;
  border-radius: 2.4rem;
}
.desktop-1-25V .affordable-umH {
  width: 10rem;
  height: 2.5rem;
  position: absolute;
  left: 19.6rem;
  top: 808.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .choose-the-plan-that-best-suits-your-poetry-slam-needs-Rjd {
  width: 52.4rem;
  height: 2.5rem;
  position: absolute;
  left: 19.2rem;
  top: 822.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .articles-wCB {
  width: 7.1rem;
  height: 2.4rem;
  position: absolute;
  left: 66.7rem;
  top: 612.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .explore-our-blog-for-insights-on-petry-virtual-events-and-ai-technology-FyZ {
  width: 65.1rem;
  height: 2.4rem;
  position: absolute;
  left: 39rem;
  top: 630.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .auto-group-umqy-9p3 {
  width: 108rem;
  height: 91rem;
  position: absolute;
  left: 14.3rem;
  top: 935.5rem;
}
.desktop-1-25V .auto-group-umqy-9p3 .find-answers-to-common-questions-about-participating-in-our-virtual-poetry-slam-events-al-judging-and-event-scheduling-how-to-participate-to-participate-in-our-virtual-poetry-slam-events-simply-sign-up-on-our-website-and-submit-your-original-poem-make-sure-to-follow-the-guidelines-provided-to-ensure-a-fair-evaluation-by-our-innovative-al-judging-system-al-judging-our-al-judging-system-uses-advanced-algorithms-to-evaluate-poems-based-on-various-criteria-such-as-creativity-originality-and-delivery-this-ensures-fair-and-unbiased-evaluations-for-all-participants-event-scheduling-our-virtual-poetry-slam-events-are-scheduled-periodically-throughout-the-year-you-can-check-our-event-calendar-on-the-website-to-stay-updated-on-upcoming-events-and-their-respective-dates-JB9 {
  width: 108rem;
  height: 91rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-25V .auto-group-umqy-9p3 .item--17V {
  width: 1.8rem;
  height: 4.5rem;
  position: absolute;
  left: 96.2rem;
  top: 15.4rem;
  font-size: 3.7rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .auto-group-umqy-9p3 .item--vVM {
  width: 1.8rem;
  height: 4.5rem;
  position: absolute;
  left: 96.2rem;
  top: 42.5rem;
  font-size: 3.7rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .auto-group-umqy-9p3 .item--csy {
  width: 1.8rem;
  height: 4.5rem;
  position: absolute;
  left: 96.2rem;
  top: 69.6rem;
  font-size: 3.7rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-25V .auto-group-mijx-Xk3 {
  width: 112.5rem;
  height: 78.1rem;
  position: absolute;
  left: 17.1rem;
  top: 1079.3rem;
  display: flex;
  align-items: flex-start;
}
.desktop-1-25V .auto-group-mijx-Xk3 .auto-group-enzh-fbM {
  margin: 0.4rem 25.3rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-mijx-Xk3 .auto-group-enzh-fbM .connect-bju {
  margin-bottom: 2.1rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-mijx-Xk3 .auto-group-enzh-fbM .contact-information-8jq {
  margin-bottom: 4.2rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-mijx-Xk3 .auto-group-enzh-fbM .have-a-question-or-need-support-reach-out-to-us-H6w {
  margin-bottom: 5.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-mijx-Xk3 .auto-group-enzh-fbM .email-send-us-an-email-aidrivenpeotryio-phone-give-us-a-call-91-6785623232-office-124-krishna-complex-new-delhi-india-oLB {
  margin-left: 0.1rem;
  max-width: 20.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-25V .auto-group-mijx-Xk3 .graphic-user-interface-of-an-app-1-5oV {
  width: 39.3rem;
  height: 78.1rem;
  position: relative;
  background-size: 106.894% 104.563%;
  background-position: -1.3548rem -3.5639rem;
  background-image: url('../assets/graphic-user-interface-of-an-app-1.png');
  border-radius: 4.4rem;
  flex-shrink: 0;
}
.desktop-1-25V .aidriven-all-rights-reserved-privacy-policy-terms-of-service-cookies-setting-mgK {
  width: 121.6rem;
  height: 9.7rem;
  position: absolute;
  left: 17.5rem;
  top: 1171.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-25V .aidriven-all-rights-reserved-privacy-policy-terms-of-service-cookies-setting-mgK .aidriven-all-rights-reserved-privacy-policy-terms-of-service-cookies-setting-mgK-sub-0 {
}
.desktop-1-25V .aidriven-all-rights-reserved-privacy-policy-terms-of-service-cookies-setting-mgK .aidriven-all-rights-reserved-privacy-policy-terms-of-service-cookies-setting-mgK-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
}
